@import url('https://fonts.googleapis.com/css?family=Creepster');

/* DEFAULT STYLES */
/* OPIMIZED FOR MOBILE-PORTRAIT SCREENS < 500PX */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

html {
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

body {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "header"
  "main"
  "footer";
  font-family: sans-serif;
  width: 100%;
  min-height: 100%;
  height: auto;
}

header {
  position: relative;
  grid-area: header;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
  "titleH2"
  "logo"
  "clock";
  color: white;
  background-color: black;
  /* background-image: url("media/darkSant.png");
  background-position: 0% 50%;
  background-size: cover;
  background-repeat: no-repeat; */
  width: 100%;
  height: auto;
  padding: 1.5rem 0 0.5rem;
  z-index: 5;
}

header img {
  display: block;
  position: relative;
  grid-area: logo;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

header h2 {
  grid-area: titleH2;
  position: relative;
  font-size: 245%;
  text-align: center;
  font-weight: 300;
  padding: 3rem 0 1.5rem;
  color: white;
}

header h2 #redLetters {
  color: firebrick;
}

header section {
  grid-area: clock;
  position: relative;
  display: block;
  text-align: center;
  color: white;
  padding-top: 3.5rem;
}

header section #todayDate {
  display: block;
  font-size: 145%;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: goldenrod;
}

header section #hwClock {
  display: block;
  font-size: 155%;
  margin-top: 1.5rem;
  font-weight: 300;
}

header #navMobile {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  z-index: 40;
  width: 4rem;
  height: 3rem;
}

header #navMobile ul {
  display: block;
  width: 100%;
  height: 100%;
  list-style-type: none;
  cursor: pointer;
}

header #navMobile ul li {
  display: block;
  width: 65%;
  height: 0.25rem;
  margin: 0.45rem auto;
  border-radius: 1rem;
  list-style-type: none;
  background-color: firebrick;
  transition: all 0.5s;
}

header #navMobile ul li:first-of-type {
  transition: all 0.25s;
}

header #navMobile ul li:last-of-type {
  margin-bottom: 0;
}

header #navMenu {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: auto;
  background: none;
  z-index: 30;
}

header #navMenu ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-top: 0.75rem;
  font-weight: normal;
  width: auto;
  margin: 0 0.5rem;
  background: none;
  transform: translateX(40rem);
  transition: all 0.5s;
}

header #navMenu ul li {
  position: relative;
  display: block;
  font-size: 100%;
  font-weight: 200;
  width: auto;
  margin: 0 0.5rem;
}

header #navMenu ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  width: auto;
  color: white;
}

header #navMenu ul li a .navIcon {
  color: firebrick;
}

header #navMenu ul li a:visited {
  text-decoration: line-through;
}

header #navMenu ul li.activePage {
  font-weight: 600;
}

main {
  position: relative;
  grid-area: main;
  width: 100%;
  height: auto;
  padding: 1.5rem 0 2.5rem;
  background-color: black;
  z-index: 10;
  display: block;
}

/*STYLES FOR NAVIGATION BUTTONS*/
#appHome {
  position: relative;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:  
  "title nav"
  "app nav";
  width: 100%;
  height: auto;
  justify-content: center;
  color: white;
  background-color: white;
}

#appHome h1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1px;
  visibility: hidden;
}

#appHome h2 {
  grid-area: title;
  position: relative;
  font-size: 210%;
  text-align: center;
  margin: 2.5rem auto 1.5rem;
  z-index: 10;
  color: black;

}

#appHome h5 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1px;
  visibility: hidden;
}

#appHome #searchBox {
  grid-area: app;
  display: none;
}


#appHome #navButtons {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-area: nav;
  width: 100%;
  min-height: 30%;
  max-height: 55%;
  height: auto;
  margin: 0 auto;
  background: none;
  z-index: 10;
}

#appHome #navButtons button {
  display: block;
  font-size: 90%;
  font-weight: 500;
  width: 5rem;
  height: 5rem;
  margin-right: 0.5rem;
  padding: 0;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

#appHome #navButtons .active {
  border: 0.2rem solid goldenrod;
  border-radius: 1rem;
}


/*STYLES FOR WORD APP*/
#wordApp {
  position: relative;
  grid-area: app;
  width: 100%;
  height: auto;
  margin: 0 auto 5%;
  padding: 5% 10%;
  color: black;
  background: white;
  /* border-radius: 0 0 1rem 1rem; */
  z-index: 20;
}

/*STYLES FOR WORD DEFINITION DISPLAY*/
#wordApp ul {
  position: relative;
  display: grid;
  grid-template-areas:  
  "word part"
  "phon audio"
  "def def"
  "example example";
}

#wordApp ul li {
  font-size: 145%;
  margin: 4.5% 0;

}

#wordApp ul #dictword {
  grid-area: word;
}

#wordApp ul #dictPart {
  grid-area: part;
}

#wordApp ul #dictPhon {
  grid-area: phon;
}

#wordApp ul #dictAudio {
  grid-area: audio;
}

#wordApp ul li audio {
  position: relative;
  display: block;
  width: auto;
  max-width: 100%;
  height: 2rem;
  border-radius: 2rem;
  background-color: goldenrod;
  filter: brightness(200%);
}

#wordApp ul #dictDef {
  grid-area: def;
}

#wordApp ul #dictExample {
  grid-area: example;
}

/*STYLES FOR LOAD PAGE*/
#loadPage {
  position: relative;
  display: none;
  text-align: center;
  width: 80%;
  height: 70%;
  padding: 15% 10%;
  z-index: 25;
}

#loadPage p {
  font-size: 175%;
}

/*STYLES FOR ERROR PAGE*/
#errorPage {
  position: relative;
  display: none;
  text-align: center;
  width: 80%;
  height: 70%;
  padding: 15% 10%;
  z-index: 25;
}

#errorPage p {
  font-size: 145%;
  padding-bottom: 10%;
}

#errorPage p a {
  font-size: 75%;
}


/* STYLES FOR OUIJA WORDS GAME */
/*STYLES FOR NAVIGATION BUTTONS*/
#wordGame {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:  
  "title"
  "app";
  width: 100%;
  height: auto;
  justify-content: center;
  color: white;
  background-color: black;
}

#wordGame h1 {
  grid-area: title;
  position: relative;
  font-size: 210%;
  text-align: center;
  margin: 0.5rem auto 1.5rem;
  z-index: 10;
  color: white;

}

#wordGame #gameWindow {
  width: 100%;
  margin: 0;
  padding: 0;
}

#wordGame #gameWindow #gameCanvas {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  border: thin solid white;
}

#wordGame #gameWindow #startMenu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  grid-area: nav;
  width: 100%;
  min-height: 30%;
  max-height: 55%;
  height: auto;
  margin: 0 auto;
  background: none;
  z-index: 10;
}

#wordGame #gameWindow #startMenu button {
  display: block;
  font-size: 90%;
  font-weight: 500;
  width: 5.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  padding: 0;
  color: white;
  background: none;
  border: thin solid white;
  cursor: pointer;
  z-index: 10;
}


/*STYLES FOR LIST OF ALL VOCABULARY WORDS*/
#vocabList h1 {
  position: relative;
  text-align: center;
  font-size: 225%;
  width: 100%;
  padding: 2.5rem 0;
  color: white;
  background-color: black;
}

#vocabList #allVocabGrid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 2.5% 0;
  text-align: left;
  background-color: black;
}

#vocabList #allVocabGrid p {
  font-size: 165%;
  padding: 2.5% 0 12.5% 25%;
  color: aliceblue;
  cursor: pointer;
  font-weight: 400;
}

#vocabList #allVocabGrid p:hover {
  text-decoration: underline;
}

#vocabList #allDefine {
  width: 40%;
  padding: 5%;
}


/*STYLES FOR ABOUT PAGE*/
#aboutPage h1 {
  position: relative;
  text-align: center;
  font-size: 225%;
  width: 100%;
  padding: 2.5rem 0;
  color: white;
  background-color: black;
}

#aboutPage #blurb {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:  
  'about1'
  'about2'
  'langH4'
  'langs '
  ;
  background-color: black;
  color: white;
}

#aboutPage #blurb p {
  font-size: 140%;
  text-align: center;
  padding: 2.5% 10%;
}

#aboutPage #blurb #blurbP1 {
  grid-area: about1;
}

#aboutPage #blurb #blurbP2 {
  grid-area: about2;
}

#aboutPage #blurb h4 {
  grid-area: langH4;
  text-align: center;
  font-size: 175%;
  padding: 5% 0 0.5%;
}

#aboutPage #blurb ul {
  grid-area: langs;
  display: block;
  width: 100%;
  list-style-type: none;
}


#aboutPage #blurb ul li {
  display: block;
  text-align: center;
  margin-bottom: 2.5%;
  width: 100%;
  list-style-type: none;
}

#aboutPage #blurb #apiCred {
  width: 100%;
  text-align: center;
}

footer {
  position: relative;
  grid-area: footer;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100%;
  grid-template-areas: 
  'copy social'
  ;
  min-width: 100vw;
  width: 100%;
  padding: 2.5% 0;
  height: auto;
  background-color: black;
  color: white;
}

footer p {
  grid-area: copy;
  text-align: center;
}

footer nav {
  position: relative;
  display: block;
  grid-area: social;
}

footer ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding-right: 0.75rem;
}

footer ul li {
  display: block;
  margin: 0 0.35rem;
  width: auto;
}

footer ul li a {
  display: block;
  text-decoration: none;
  width: 100%;
  font-size: 120%;
  color: white;
}

footer ul li span {
  position: absolute;
  display: block;
  top: 0;
  font-size: 1px;
  visibility: hidden;
}

/* STYLES FOR LANDSCAPE SCREENS */
@media screen and (orientation: landscape) {
  header #navMobile {
    display: none;
  }

  header #navMenu {
    top: 0;
    right: 0;
    transform: translate(-0.5rem, 0.5rem);
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    color: white;
    background: none;
    z-index: 30;
  }

  header #navMenu ul {
    transform: translateX(0rem);
  }
  #appHome #navButtons {
    min-height: 45%;
    max-height: 60%;
    height: auto;
  }
}


/* STYLES FOR VERY SMALL SCREENS */
@media screen and (max-width: 251px) {

  
}

/* STYLES FOR MEDIUM PORTRAIT SCREENS */
@media screen and (min-width: 651px) {
 
  header {
    padding: 2.5rem 0;
  }

  header img {
  }
  
  
  header h2 {
    /* font-size: 255%; */
  }
  
  header section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1rem;
  }
  
  header section #todayDate {
    display: block;
    font-size: 145%;
    font-weight: 500;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: goldenrod;
  }

  header #navMobile {
    display: none;
  }

  header #navMenu {
    top: 0;
    right: 0;
    transform: translate(-0.5rem, 0.5rem);
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    color: white;
    background: none;
    z-index: 30;
  }

  header #navMenu ul {
    transform: translateX(0rem);
  }

  header #navMenu ul li {
    font-size: 110%;
  }
  
  header section h4 {
    display: block;
    font-size: 135%;
  }
  
  header section h5 {
    display: block;
    font-size: 175%;
    padding-top: 1.5%;
  }

  main #allVocabGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  main #blurb h4 {
    font-size: 155%;
    padding: 1.5rem 0 0.75rem;
  }
  
  main #blurb ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0 auto;
    list-style-type: none;
  }
  
  
  main #blurb ul li {
    display: flex;
    justify-content: center;
    margin: 0 1.25rem;
    padding: 0;
    width: auto;
    list-style-type: none;
    font-size: 120%;
  }
  
  main #blurb #apiCred {
    width: 100%;
    text-align: center;
  }
}


/* STYLES FOR LAPTOP AND DESKTOP SCREENS */
@media screen and (min-width: 1024px) {

  header {
    padding: 1.75rem 0;
  }

  header #navMobile {
    display: none;
  }
  
  header #navMenu {
    top: 0;
    right: 0;
    transform: translate(-0.5rem, 0.5rem);
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    color: white;
    background: none;
    z-index: 30;
  }

  header #navMenu ul {
    
  }

  header #navMenu ul li {
    font-size: 115%;
    margin: 0 0.45rem;
  }
  
  header #navMenu ul li a {
    position: relative;
    display: block;
    color: black;
    text-decoration: none;
    width: auto;
    color: firebrick;
  }

  header #navMenu ul li a .navIcon {
    display: inline;
  }

  header #navMenu ul li a .navText {
    color: white;
    transition: all 0.75s;
    margin-right: 0.25rem;
  }
  
  header #navMenu ul li a:hover > .navText,
  header #navMenu ul li a:focus > .navText {
    display: inline;
  }
  
  header #navMenu ul li a:visited {
    text-decoration: line-through;
  }
  
  .activePage {
    animation: colorHover 15s infinite;
  }

  #appHome {
    padding: 5% 20% 5% 10%;
    grid-template-columns: auto auto;
  }

  main #allVocabGrid {
    grid-template-columns: repeat(4, 1fr);
  }

  /*STYLES FOR ABOUT PAGE*/
  main #blurb {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:  
    'about1 langH4'
    'about1 langs'
    'about2 langs'
    'about2 langs'
    ;
    background-color: black;
    color: white;
  }

  main #blurb p {
    font-size: 140%;
    text-align: center;
    padding: 1rem 5rem;
  }

  main #blurb #blurbP1 {
    grid-area: about1;
  }

  main #blurb #blurbP2 {
    grid-area: about2;
  }

  main #blurb h4 {
    grid-area: langH4;
    text-align: left;
    font-size: 175%;
    padding: 1rem 0;
  }

  main #blurb ul {
    grid-area: langs;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
  }


  main #blurb ul li {
    display: block;
    text-align: left;
    margin: 0 0 1rem;
    width: 100%;
    list-style-type: none;
  }

  main #blurb #apiCred {
    width: 100%;
    text-align: left;
  }

}


/* STYLES FOR VERY LARGE SCREENS */
/* @media screen and (min-width: 1451px) {
  
} */


@keyframes colorHover {
  0% {
    color: aliceblue;
  }

  15% {
    color: orange;
  }

  30% {
    color: goldenrod;
  }

  45% {
    color: aliceblue;
  }

  60% {
    color: orange;
  }

  75% {
    color: aliceblue;
  }

  85% {
    color: orange;
  }

  90% {
    color: goldenrod;
  }

  100% {
    color: aliceblue;
  }
}


